[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "pyguarantees"
version = "0.0.4"
authors = [
  { name="Sebastian Mueller", email="sebastian.nicolas.mueller@gmail.com" },
]
description = "Guarantee tests, guarantee types and their properties"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/snimu/guarantees"

[tool.setuptools.packages.find]
include = ["pyguarantees*"]
exclude = ["venv", "tests", ".*", "*.md"]